<h2>Pre - Schedule</h2>
<div>
  <form action="{% url 'single-hall' %}" method="Post">
    <label for="course">Specify Course</label>
    <input type="text" placeholder="Enter the course code" />

    <label for="course">Hall</label>
    <input type="text" placeholder="Enter where the class will hold" />

    <label for="course">Date</label>
    <input type="date" placeholder="Enter date" />

    <label for="course">Start_time</label>
    <input type="text" placeholder="Enter when the class will start" />

    <label for="course">End_time</label>
    <input type="text" placeholder="Enter when the class will end" />

    <label for="course">Course Information</label>
    <input type="date" placeholder="Enter any information to tag with this booking i.e assignment , test coming up or ...." />

 
    <input type="button" value="Complete scheduling" />

  </form>
</div>
