{% extends "base.html" %} {% block content %}
<section class="tm-banner">
  <div class="tm-container-outer tm-banner-bg">
    <div class="container">
      <div class="row tm-banner-row tm-banner-row-header">
            <div class="col-xs-12"></div>
            <!-- col-xs-12 -->
      </div>
      <!-- row -->
      <div class="row tm-banner-row" id="tm-section-search">
        
        <!-- The confirm passwprd recovery page  -->
        <div class="tm-search-form tm-section-pad-2 text-center">
          <h3 class="text-uppercase mb-4">Enter new password🔑</h3>
          <p class="mb-4">Please enter your new password twice so we can verify you typed it in correctly.</p>
        </div>

        <form method="POST" class="tm-search-form tm-section-pad-2">
          {% csrf_token %} 
          
          <div class="form-row tm-search-form-row">                                
                <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                    {{form}}
                    <!-- <label for="id_new_password1">New password</label>
                    <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="Enter your new password..."> -->
                </div>
            </div> <!-- form-row -->
            <div
                class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                <label for="btnSubmit">&nbsp;</label>
                <button type="submit" class="btn btn-primary tm-btn tm-btn-search text-uppercase" id="btnSubmit"
                >
                Change my Password
                </button>
            </div>
        </form>
      </div>
      <!-- row -->
      <div class="tm-banner-overlay"></div>
    </div>
    <!-- .container -->
  </div>
  <!-- .tm-container-outer -->
</section>

{% endblock %}
