{% extends "base.html" %} {% block content %}
<section class="tm-banner">
  <div class="tm-container-outer tm-banner-bg">
    <div class="container">
      <div class="row tm-banner-row tm-banner-row-header">
        <div class="col-xs-12"></div>
        <!-- col-xs-12 -->
      </div>
      <!-- row -->
      <div class="row tm-banner-row" id="tm-section-search">

        <!-- The change password page  -->

        <div class="tm-search-form tm-section-pad-2 text-center">
          <h3 class="text-uppercase mb-4">Password reset complete</h3>
          <p class='mb-4'> Your password has been set. You may go ahead and log in now.</p>
          <p class="mb-4"><a href="{% url 'login-rep' %}"> Log in</a></p>
        </div>
        
      </div>
      <!-- row -->
      <div class="tm-banner-overlay"></div>
    </div>
    <!-- .container -->
  </div>
  <!-- .tm-container-outer -->
</section>

{% endblock %}
