{% extends "base.html" %} {% block content %}
<section class="tm-banner">
  <div class="tm-container-outer tm-banner-bg">
    <div class="container">
      <div class="row tm-banner-row tm-banner-row-header">
        <div class="col-xs-12"></div>
        <!-- col-xs-12 -->
      </div>
      <!-- row -->
      <div class="row tm-banner-row" id="tm-section-search">
        <!-- The change password page  -->

        <div class="tm-search-form tm-section-pad-2 text-center">
          <h3 class="text-uppercase mb-4">Recover Password</h3>
          <p class="mb-4">
            Forgotten your password? <br />
            No worries! Enter your email address and we'll send you instructions
            to set a new one.
          </p>
        </div>

        <form method="POST" class="tm-search-form tm-section-pad-2">
          {% csrf_token %} {% for field in form %}
          <div class="form-row tm-search-form-row">
          
            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
              <label for="inputCity">{{field.label}}</label>
              <input type="email" id="{{field.id}}"  autocomplete="email" name="name"  maxlength="254" class="form-control" placeholder="Enter your email...."  required/>
  
              {% if field.errors %} {% for error in field.errors %}
              <small class="mb-4 text-mute" style="color: red">
                {{error}}
              </small>
              {% endfor %} {% endif %} {% if field.help_text %}

              <small class="mb-4 text-mute"> {{field.help_text}} </small>
              {% endif %}
            </div>
          </div>
          <!-- form-row -->
          {% endfor %}

          <div
            class="form-group tm-form-group tm-form-group-pad tm-form-group-1"
          >
            <label for="btnSubmit">&nbsp;</label>
            <button
              type="submit"
              class="btn btn-primary tm-btn tm-btn-search text-uppercase"
              id="btnSubmit"
            >
              password reset
            </button>
          </div>
        </form>
      </div>
      <!-- row -->
      <div class="tm-banner-overlay"></div>
    </div>
    <!-- .container -->
  </div>
  <!-- .tm-container-outer -->
</section>

{% endblock %}
