{% extends "base.html" %} {% block content %}
<section class="tm-banner">
  <div class="tm-container-outer tm-banner-bg">
    <div class="container">
      <div class="row tm-banner-row tm-banner-row-header">
        <div class="col-xs-12"></div>
        <!-- col-xs-12 -->
      </div>
      <!-- row -->
      <div class="row tm-banner-row" id="tm-section-search">

        <!-- The password reset page  -->

        <div class="tm-search-form tm-section-pad-2 text-center">
  
          <h3 class="text-uppercase mb-4">Password Reset Instructions Sent✔</h3>
          <p class='mb-4'> We've sent you instructions to reset your password, if an account exists with the email you provided. It should arrive in your inbox shortly.
                        If you don't see the email:<br>

                        Double-check you entered the correct email address you registered with.<br>
                        Look for the email in your spam folder.<br>
                        <strong>Still need help? <a href="{% url 'password_reset_view' %}"> Recover Password</a><strong>
        </p>
        
        </div>
      </div>
      <!-- row -->
      <div class="tm-banner-overlay"></div>
    </div>
    <!-- .container -->
  </div>
  <!-- .tm-container-outer -->
</section>

{% endblock %}
