{% extends "base.html" %} {% block content %}



<section class="tm-banner">
  <div class="tm-container-outer tm-banner-bg">
    <div class="container">
      <div class="row tm-banner-row tm-banner-row-header">
        <div class="col-xs-12"></div>
        <!-- col-xs-12 -->
      </div>
      <!-- row -->
      <div class="row tm-banner-row" id="tm-section-search">

        <!-- The register page  -->
        {% if page == 'register' %}
        <div class="tm-search-form tm-section-pad-2 text-center">
          
          <h3 class="text-uppercase mb-4">Create an account</h3>
          <p class="mb-4">Ease your scheduling process. <br> 
            Already have an account. <a href="{% url 'login-rep' %}"> Log in</a></p>

        </div>

        <form method="POST" class="tm-search-form tm-section-pad-2">
          {% csrf_token %} 
          {% for field in form %}
          <div class="form-row tm-search-form-row">
            <div
              class="form-group tm-form-group tm-form-group-pad tm-form-group-1"
            >
              <label for="inputCity">{{field.label}}</label>

              {{field}} 

              {% if field.errors %}
              {% for error in field.errors %}
              <small class='mb-4 text-mute' style='color: red;'> {{error}} </small>
              {% endfor %}
              
              {% endif %}

              {% if field.help_text %}
              
              <small class='mb-4 text-mute' > {{field.help_text}} </small>
              {% endif %}
             
            </div>
          </div>
          <!-- form-row -->

          {% endfor %}

          <div
            class="form-group tm-form-group tm-form-group-pad tm-form-group-1"
          >
            <label for="btnSubmit">&nbsp;</label>
            <button
              type="submit"
              class="btn btn-primary tm-btn tm-btn-search text-uppercase"
              id="btnSubmit"
            >
              Create Account
            </button>
          </div>
        </form>

        {% else %}
        <!-- The login page  -->
        <div class="tm-search-form tm-section-pad-2 text-center">
          <h3 class="text-uppercase mb-4">Welcome back!👋</h3>
          <p class="mb-4">Get help abstracting your scheduling process. <br>
            Doesn't have an account. <a href="{% url 'register-rep' %}"> Sign up</a></p>
        </div>

        <form method="POST" class="tm-search-form tm-section-pad-2">
          {% csrf_token %} 
          
          <div class="form-row tm-search-form-row">                                
            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                <label for="inputCity">Username</label>
                <input name="username" type="text" class="form-control" id="inputCity" placeholder="Enter your username...">
            </div>

            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                <label for="inputCity">Password</label>
                <input name="password" type="password" class="form-control" id="inputCity" placeholder="Enter your password...">
            </div>

            
        </div> <!-- form-row -->
          <div
            class="form-group tm-form-group tm-form-group-pad tm-form-group-1"
          >
            <label for="btnSubmit">&nbsp;</label>
            <button
              type="submit"
              class="btn btn-primary tm-btn tm-btn-search text-uppercase"
              id="btnSubmit"
            >
              Login
            </button>
          </div>
        </form>

        <div class="tm-search-form tm-section-pad-2 text-center">
          <p class="mb-4"><br>
            Can't remember password?  <a href="{% url 'password_reset_view' %}"> Forgot Password</a></p>
        </div>



        {% endif %}
      </div>
      <!-- row -->
      <div class="tm-banner-overlay"></div>
    </div>
    <!-- .container -->
  </div>
  <!-- .tm-container-outer -->
</section>

{% endblock %}
