<footer >
    <div class="row">
        <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">                        
            <h2 class="text-uppercase mb-4">Your <strong>Seamless Scheduling</strong> is our priority</h2>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, alias. Omnis beatae numquam expedita mollitia dolor, facilis rem molestias iusto, pariatur, quo nulla sequi quasi? Distinctio molestiae quod quis voluptatem!.</p>
        </div>
    </div>
    
</footer>