<footer class="tm-container-outer">
    <div class="row">
        <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">                        
            <h2 class="text-uppercase mb-4">Your <strong>Seamless Scheduling</strong> is our priority</h2>
            <p class="mb-2 text-center text-lg-start"> Unlocking possibilities, one schedule at a time. Join us in revolutioniZing the way we manage our time and spaces. <br>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>. 
                All Rights Reserved. &mdash; . Designed by <a rel="nofollow" href="http://www.google.com/+templatemo" target="_parent">Template Mo</a></p>                   
        </div>
    </div>
    
</footer>