
    <body>
        <section class="row tm-banner-row tm-banner-row-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">
                        <h2 class="text-uppercase mb-4"> <strong> Great Ladokite </strong> <br> <strong> Greatest Ladokite </strong> </h2>
                        <p class="mb-4"> Intergrity and Service.</p>
                        <a href="#" class="text-uppercase btn-primary tm-btn">Continue explore</a>                              
                    </div>
                </div>
            </div>
        </section>

        <!-- nav-bar for header  -->
        <div class="tm-main-content" id="top">
            <div class="tm-top-bar-bg"></div>
            <div class="tm-top-bar" id="tm-top-bar">
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg narbar-light">
                            <a class="navbar-brand mr-auto" href="#">
                                <span>BH</span>
                            </a>
                            <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                                <ul class="navbar-nav ml-auto">
                                  <li class="nav-item">
                                    <a class="nav-link active" href="#top">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="halls.html">Hall</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pre-schedule.html">Schedule Class</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact-us">Contact Us</a>
                                </li>
                            </ul>
                        </div>                            
                    </nav>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- .tm-top-bar -->

        <div class="tm-container-outer" id="tm-section-2">
            <section class="tm-slideshow-section">
                <div class="tm-slideshow">

                    <img src="/img/tm-img-03.jpg" alt="Image">    
                </div>
                <div class="tm-slideshow-description tm-bg-primary">
                    <h2 class="">1200 lecture hall</h2>
                    <p>Body: Aenean in lacus nec dolor fermentum congue. Maecenas ut velit pharetra, pharetra tortor sit amet, vulputate sem. Vestibulum mi nibh, faucibus ac eros id, sagittis tincidunt velit. Proin interdum ullamcorper faucibus. Ut mi nunc, sollicitudin non pulvinar id, sagittis eget diam.</p>
                    <a href="#" class="text-uppercase tm-btn tm-btn-white tm-btn-white-primary">Book this hall</a>
                </div>
            </section>

            <section class="clearfix tm-slideshow-section tm-slideshow-section-reverse">

                <div class="tm-right tm-slideshow tm-slideshow-highlight">
                    <img src="/img/tm-img-01.jpg" alt="Image">
                </div> 

                <div class="tm-slideshow-description tm-slideshow-description-left tm-bg-highlight">
                    <h2 class="">250 lecture hall</h2>
                    <p> Body: Vivamus in massa ullamcorper nunc auctor accumsan ac at arcu. Donec sagittis mattis pharetra. Proin commodo, ante et volutpat pulvinar, arcu arcu ullamcorper diam, id maximus sem tellus id sem. Suspendisse eget rhoncus diam. Fusce urna elit, porta nec ullamcorper id.</p>
                    <a href="#" class="text-uppercase tm-btn tm-btn-white tm-btn-white-highlight">Book this hall</a>
                </div>                        

            </section>
            
        </div>        
        

    </body>

    <script src="../js/jquery-1.11.3.min.js"></script>             <!-- jQuery (https://jquery.com/download/) -->
    <script src="../js/popper.min.js"></script>                    <!-- https://popper.js.org/ -->       
    <script src="../js/bootstrap.min.js"></script>                 <!-- https://getbootstrap.com/ -->
    <script src="../js/datepicker.min.js"></script>                <!-- https://github.com/qodesmith/datepicker -->
    <script src="../js/jquery.singlePageNav.min.js"></script>      <!-- Single Page Nav (https://github.com/ChrisWojcik/single-page-nav) -->
    <script src="../slick/slick.min.js"></script>                  <!-- http://kenwheeler.github.io/slick/ -->
    <script src="../js/jquery.scrollTo.min.js"></script>  
</html>