{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-xs-12 mx-auto tm-about-text-wrap ">    

        <h2 class="text-uppercase mb-4"> <strong>About Us</strong> </h2>
        <h3 class="mb-4"> <strong>Solving Scheduling Headaches, Two Class at a Hall</strong> </h3>

        <p class="mb-4">We understand the frustration of scheduling conflicts and wasted time due to uncoordinated hall usage. 
            That's why we created Book Hall, a web application designed to streamline room scheduling and maximize efficiency for academic institutions.</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 mx-auto tm-about-text-wrap ">    

        <h3 class="mb-4"> <strong>Our Goal: </strong> </h3>

        <p class="mb-4">Our goal is to empower class reps with a simple, intuitive, and effective tool to manage hall bookings and eliminate scheduling conflicts. 
        <br> <strong> We strive to: </strong> </p>

        <ul>
            <li> <strong>Reduce wasted time:</strong> Our dynamic time model minimizes disruptions and allows instructors and students to focus on their valuable learning time.
                
               
                </li>
            <li> <strong> Improve communication and collaboration: </strong>Our platform fosters transparency and accountability by providing a centralized platform for scheduling
                 and information about each hall and its availability.</li>
            <li> <strong> Increase resource utilization: </strong> By preventing overlapping class durations, we optimize hall usage and ensure efficient resource allocation.</li>
        </ul>
    </div>

</div>

<div class="row">
    <div class="col-xs-12 mx-auto tm-about-text-wrap ">    

        <h3 class="mb-4"> <strong>Our Team:</strong> </h3>

        <p class="mb-4">Book Hall is the work of a passionate team of developers, who are students dedicated to building innovative solutions for the academic community. 
            We combine technical expertise with an understanding of educational challenges to develop user-friendly tools that address real-world needs.</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 mx-auto tm-about-text-wrap ">    

        <h3 class="mb-4"> <strong>How It Works:</strong> </h3>

        <ol>
            <li>Create Your Account: Sign up for an account to get started. Whether you're a class rep, assistant rep, or course rep, 
                creating an account is quick and easy.</li>
            <li>Set Up Schedule: Schedule a course at the hall where it will take place according to your requirements from available time slots.</li>
            <li>Share Your Schedule: Once your schedule is set up, share it with your department mates. They can also view scheduled classes online.</li>
            <li>Manage Bookings: Keep track of all your bookings and manage them efficiently through our platform. You can edit schedules in case of 
                postponed lectures to free up time for others.</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 mx-auto tm-about-text-wrap ">    

        <h3 class="mb-4 text-uppercase text-center"> <strong> Join the Movement: </strong> </h3>

        <p class="mb-4 text-center">We invite you to experience the benefits of Book Hall for yourself. We are committed to continuous 
            improvement and welcome your feedback as we work together to build a more efficient and streamlined academic environment.</p>
    </div>
</div>



{% endblock %}