{% extends "base.html" %}
{% block content %}


<section class="tm-banner-row ">
        
    <div class="container">
        <div class="row">
            <div class="col-xs-12 mx-auto tm-about-text-wrap ">    

                <h3 class="mb-4"> <strong>Solving Scheduling Headaches, Two Class at a Hall</strong> </h3>

                <p class="mb-4">We understand the frustration of scheduling conflicts and wasted time due to uncoordinated hall usage. 
                    That's why we created Book Hall, a web application designed to streamline room scheduling and maximize efficiency for academic institutions.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 mx-auto tm-about-text-wrap ">    

                <h3 class="mb-4"> <strong>Our Goal: </strong> </h3>

                <p class="mb-4">Our goal is to empower class reps with a simple, intuitive, and effective tool to manage hall bookings and eliminate scheduling conflicts. 
                <br> <strong> We strive to: </strong> </p>

                <ul>
                    <li> <strong>Reduce wasted time:</strong> Our dynamic time model minimizes disruptions and allows instructors and students to focus on their valuable learning time.
                        
                    
                        </li>
                    <li> <strong> Improve communication and collaboration: </strong>Our platform fosters transparency and accountability by providing a centralized platform for scheduling
                        and information about each hall and its availability.</li>
                    <li> <strong> Increase resource utilization: </strong> By preventing overlapping class durations, we optimize hall usage and ensure efficient resource allocation.</li>
                </ul>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 mx-auto tm-about-text-wrap ">    

                <h3 class="mb-4"> <strong>Our Team:</strong> </h3>

                <p class="mb-4">Book Hall is the work of a passionate team of developers, who are students dedicated to building innovative solutions for the academic community. 
                    We combine technical expertise with an understanding of educational challenges to develop user-friendly tools that address real-world needs.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 mx-auto tm-about-text-wrap ">    

                <h3 class="mb-4"> <strong>How to start using BH (Book Hall) to begin booking halls:</strong> </h3>

                <ol>
                    <li> <b>Visit the Home Page:</b> Click on the provided link to land on the Home page. Scroll down to explore all available halls.</li>
                    <li> <b>Sign Up:</b> Create an account by signing up with your details..</li>
                    <li> <b></b>Access Your Dashboard:</b> Once signed up, you'll be directed to your dashboard. Here, you can view all the classes you've scheduled, if any.</li>
                    <li> <b>Edit Your Profile:</b> Click on the "Edit Profile" button to set up your details. 
                       <u> Note:</u> If you haven't notified us that you are a class rep, the rep button won't be activated. 
                       Contact us via the provided contact section to become a rep automatically.</li>
                    <li> <b>Check Your Status:</b> If your status changes to "Class Rep" from "Not a Class Rep," proceed to the homepage or click "Halls" from the navigation bar.</li>
                    <li>Explore Halls: Search or scroll down to select the hall where your class will take place.</li>
                    <li>Check Hall Schedule: Verify the schedule for the selected hall. If the time slot for your class hasn't already been booked, proceed. 
                        <u>Note:</u> Any time slot already booked for a particular day won't be available for selection.</li>
                    <li>Book the Hall: Once you've chosen a date and time slot that's available, proceed to book the hall for that time. 
                        <u>Note:</u> Your class schedule is guaranteed only after completing the second form.</li>
                    <li>Confirmation: After successfully booking a hall, you'll be redirected to the hall page. Here, you can find your schedule among the list of scheduled classes. 
                        Alternatively, navigate to your dashboard to see all your scheduled classes on the platform.</li>
                    <li>Share Your Schedule: Share a screenshot of your schedule with your group, as the time slot for your class is now confirmed.</li>
                    <li>Stay Updated: Keep in touch with your lecturer in case of any changes to the time or date. You can edit your schedule to accommodate new requirements.</li>
                    <li>Schedule New Classes: Whenever you need to schedule a class, simply log in and book the class. You can also add a new hall using the "Add Hall" button.</li>
                    
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 mx-auto tm-about-text-wrap ">    

                <h3 class="mb-4 text-uppercase text-center"> <strong> Join the Movement: </strong> </h3>

                <p class="mb-4 text-center">We invite you to experience the benefits of Book Hall for yourself. We are committed to continuous 
                    improvement and welcome your feedback as we work together to build a more efficient and streamlined academic environment.</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}